<h2>{{main.order.data.OrderId > 0 ? 'Update' : 'Create'}} Invoice</h2>

<ol class="breadcrumb">
    <li><a ui-sref="orders">Invoices</a></li>
    <li class="active">{{main.order.data.OrderId > 0 ? 'Update' : 'Create'}}</li>
</ol>

<button ng-if="!main.order.customer" data-animation="am-fade-and-slide-top" data-template-url="/app/views/orders/modal-customers.html" bs-modal="modal" type="button" class="btn btn-default">Select a Customer</button>

<div class="row" ng-if="main.order.customer">
    <div class="col-md-6">
        <p>{{main.order.customer.FirstName}} {{main.order.customer.LastName}}</p>
        <p>Address: {{main.order.customer.Address}}</p>
        <p>City: {{main.order.customer.City}}</p>
        <p>State: {{main.order.customer.State}}</p>
        <p>Post Code: {{main.order.customer.PostCode}}</p>
    </div>
    <div class="col-md-6">
        <h3 ng-if="main.order.data.OrderId > 0">Invoice: #{{main.order.data.OrderId}}</h3>
        <h3 ng-if="main.order.data.OrderId > 0">Created: {{ main.order.data.Created | date:'dd/MM/yyyy' }}</h3>
        <div class="form-group">
            <label class="control-label"><i class="fa fa-calendar"></i> Due Date:</label>
            <input type="text" class="form-control" ng-model="main.order.data.DueDate" data-date-type="iso" data-date-format="dd/MM/yyyy" data-autoclose="1" name="date2" bs-datepicker>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" ng-if="main.order.customer" data-animation="am-fade-and-slide-top" data-template-url="/app/views/orders/modal-products.html" bs-modal="modal">Add Product</button>
        <table class="table">
            <tr>
                <th>#ID</th>
                <th>Description</th>
                <th>Price</th>
                <th>Discount(%)</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="item in main.order.data.OrderLines">
                <td>#{{item.ProductId}}</td>
                <td>{{item.Description}}</td>
                <td><input type="text" class="form-control" style="width: 70px;text-align: center;" ng-model="item.Price" /></td>
                <td><input type="text" class="form-control" style="width: 70px;text-align: center;" ng-model="item.Discount" /></td>
                <td><input type="text" class="form-control" style="width: 70px;text-align: center;" ng-model="item.Quantity" /></td>
                <td>{{main.calcTotalPerItem(item) | currency}}</td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="main.order.removeLine(item, $index)">Remove</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Notes:</label>
            <textarea class="form-control" ng-model="main.order.data.Notes"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <h1>Total {{main.calcTotal(main.order.data) | currency}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-success" ng-click="main.order.save()">Save Invoice</button>
    </div>
</div>
<a ui-sref="orders">Back to List</a>
